.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
// @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Courgette&display=swap');
.background{
    background-image: url(../assets/images/Waether1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 700px;
    width: 1500px;
}
.backbtn{
    padding: 5px;
    color: white;
    background-color: black;
    font-size: 18px;
   margin-left: 60px;
   border-radius: 10px;
  }
  .backbtn:hover{
    background-color: white;
    color: black;
  }