<div>
    <h2 class="own1">Login Form
       
    <form>
        <br>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent">Login</button>
        <button mat-raised-button color="warn">New User?</button>
    </form>
</h2>
</div>