<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<body class="background">
    <div class="account-login">
        <h1>Forget Password</h1>
        <form class="login-form" [formGroup]="forgetForm">
            <div class="form-group">
            <input type="text" class="form-control" (blur)="checkEmail()"  placeholder="Enter Your Email" formControlName="email"><br>
            <span class="err" *ngIf="forgetForm.get('email')?.errors?.['pattern']">Enter Valid Email</span>

        </div> <br>
            <div class="form-group">
            <input  placeholder="Enter Password" class="form-control" [type]="pass? 'text': 'password'"  formControlName="password" >
             <span class="passicon" *ngIf="pass" (click)="hidepass()"> <i class="bi bi-eye-fill"></i></span>
             <span class="passicon" *ngIf="!pass" (click)="hidepass()"><i class="bi bi-eye-slash-fill"></i></span>
            </div><br> 
     
<br><br>
            <div>
                <button class="btn" (click)="changePassword()">Reset Password</button>
            </div>


        </form>
    </div>
</body>

 